/* .header {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    
} */
.navbar {
    background-image: url(asset/img/red-car.jpg);
    background-color: rgba(113, 131, 132, 0.65);
    background-repeat: repeat;
    background-position: right top;
    background-position-y: -140px;
    border-radius: 17px;
    margin: 10px;
    height: 70px;

}
.navbar-brand{
    font-size: 30px;
    position: absolute;
}

.navbar a{
    color: white;
}

.breadcrumb {
    display: flex;
    justify-content: inherit;
    align-items: center;
    
}

a {
    text-decoration: none;
}

.header a{
    text-decoration: none;
    color: white;
}

.card {
    margin: 5px;
    width: 300px;
}

.card-img-top {
     margin: 5px;
     border-radius: 5px;
}

.contain-img {
    width: 100%;
    border-radius: 17px;
    
}

.yCmsContentSlot {
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-left: -20px;
}

.fashion-content-slot h5{
    text-align: center;
}

.fashion {
    margin: 5px;
}


.container h1 {
    margin-right: 30px;
}

.panduan {
    margin: 5px;
}

.how-it-works-hm span {
    background-color: #0D6EfD;
    position: absolute;
    border-radius: 17px;
    line-height: 1.76;
    text-align: center;
    font-size: 15.5px;
    width: 34px;
    height: 34px;
    color: #FFF;
}

.help-area p {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-block-start: 0px;
    margin-inline-end: 0px;
}

.help-area .contain-holder {
    padding: 10px 20px;
    text-align: center;
}

.help-button {
    background-color: #0D6EfD;
    color: #FFF;
    border-radius: 17px;
}

.bantuan-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.panduan-content-slot {
    padding: 10px;
}

.image-about>img {
    border-radius: 17px;
}

footer {
    background-image: url(asset/img/f.jpg);
    color: white;
    border-radius: 17px;
}

.send-feedback {
    background-color: #0D6EfD;
    color: #FFF;
}

.modal {
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(224, 245, 212, 0.103);
}

#downloadBrosur {
    width: 160px;
    height: 45px;
    background-color: #FFF;
    border: 2px solid #0D6EfD;
    color: #0D6EfD;
    border-radius: 15px;
}

.image-content>img {
    border-radius: 17px;
}

.share-palette {
    padding: 10px 15px 10px 15px;
    background-color: #FFF;
    border: 2px solid #0D6EfD;
    color: #0D6EfD;
    border-radius: 15px;
    text-decoration: none;
}

